body {
  font-family: sans-serif;
  line-height: 120%;
  background-color: #fcfcfc;
  color: rgb(17, 19, 23);
  margin: 0;
}

.docs-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

pre {
  border: 1px solid #c9d1d9;
  border-radius: 4px;
  padding: 1em;
  background-color: rgb(246, 246, 246);
  color: rgb(47, 51, 55);
}

li {
  margin-top: 0.25em;
}

#markdown-container {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

#markdown-content {
  max-width: 50em;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sidebar {
  height: 100vh;
  width: 16em;
  padding-top: 1em;
  background-color: #f2f2f2;
}

.sidebar div {
  padding-top: 0.4em;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
}

.sidebar div a {
  text-decoration: none;
  color: rgb(17, 19, 23);
}

.sidebar div a:hover {
  color: hotpink;
}

.sidebarLevel1 a {
  font-size: 1.2em;
  font-weight: bold;
}

div.sidebarLevel2 {
  padding-top: 0.75em;
  padding-left: 1.5em;
  font-weight: bold;
}

div.sidebarLevel3 {
  padding-left: 2em;
}
