body {
  font-family: sans-serif;
  line-height: 120%;
  background-color: #fcfcfc;
  color: rgb(17, 19, 23);
  margin: 0;
}

#markdown-content {
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 60em;
  margin: auto;
}

video {
  width: 100%;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.columns pre {
  flex-shrink: 1;
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: scroll;
}

.columns img {
  flex-shrink: 3;
  min-width: 100px;
  min-height: 100px;
}

pre {
  border: 1px solid #c9d1d9;
  border-radius: 4px;
  padding: 1em;
  background-color: rgb(246, 246, 246);
  color: rgb(47, 51, 55);
}