body {
  font-family: sans-serif;
  line-height: 120%;
  background-color: #f0f2f5;
  color: rgb(17, 19, 23);
}

#markdown-content {
  height: 100vh;
  padding-top: 1em;
  max-width: 60em;
  margin: auto;
}

img,video {
  width: 100%;
}