#canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  outline: none;
}

textarea {
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    pointer-events: auto;
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    outline: none;
    font-family: var(--font-family);
    font-size: var(--input-font-size);
    border-radius: var(--widget-border-radius);
    background: var(--widget-color);
    width: 100%;
    padding: var(--widget-padding);
    color: var(--string-color);
    resize: none;
}

progress {
  border: none;

  position: absolute;
  height: 3vh;
  width: 50vw;
  border-radius: 1.5vh;
  overflow: hidden;

  top:0;
  bottom: 0;
  left: 0;
  right: 0;
    
  margin: auto;
}

progress::-webkit-progress-value { 
  background-color: #80d743;
}

#loading {
  width: 100vw;
  height: 8em;
    
  position: absolute;
  top:0;
  bottom: -40em;
  left: 0;
  right: 0;
    
  margin: auto;
}

#loadingLabel {
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 1em;

  margin-top: 1em;
}

#loading img {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10vw;
  height: 10vw;

  animation: spin 4000ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}